
<style>

    .campoLogin{
        background-color: #FAFAFA;
        width: 40%;
        min-width: 350px;
        height: auto;
        left: 50%;
        top: 25%;
        padding: 20px 20px;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        margin: 10px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        top: 25%;
    }
</style>





<div class="container">
  <div class="campoLogin">
    <h1>
      resgistrar
    </h1>
    <%= form_for @user do |f| %>
    <form>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="name" name="user[name]" class="form-control" id="exampleInputEmail1" >

      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" name="user[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Não compartilharemos seu e-mail com mais ninguém.</div>
      </div>
      <!-- <div class="mb-3">
         <label for="exampleInputPassword1" class="form-label">Password</label>
         <input type="password" class="form-control" id="exampleInputPassword1">
       </div>-->



      <button type="submit" class="buy">concluir</button>
    </form>
      <% end %>
  </div>
</div>