





<html>
<head>
  <meta charset="UTF-8">
  <title>Thunder</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/blade-runner-movie-font" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/gobold" rel="stylesheet">
  <link rel="stylesheet" href="stylePagInicial.css">
  <link rel="shortcut icon" href="Images/4037560.png" type="image/x-icon">

</head>
<style>
    .container{

    }

    h1{
        position: relative;
        top: 5%;
        left: 5%;
        font-family: 'Blade Runner Movie Font', sans-serif;
    }
</style>

<body>
<div class="campoProdutos">



  <div class="container">
    <h1 style="font-family: 'Blade Runner Movie Font', sans-serif">DESTAQUES</h1>
    <div class="row row-cols-1 row-cols-sm-4 g-4">
      <%@produto.each do |produtos| %>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <%=link_to produtos.nome, @nome, class:"card-title"%>
              <p class="card-text">DESCRIÇÃO</p>
              <p class="card-text">R$ 000,00</P>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>

</body>
</html>
