<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>


<%if flash[:error] %>
  <div class="alert alert-success" role="alert"><%= flash[:error] %></div>
<%end %>




<%= form_for @produto, html: {multipart: true} do |form| %>
<div class="container">
  <div class="form-group">
    <label for="formGroupExampleInput">Nome</label>
    <input type="text" name="produto[nome]" class="form-control"  id="formGroupExampleInput" placeholder="Nome">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Descrição</label>
    <textarea class="form-control" name="produto[descricao]" id="formGroupExampleInput2" placeholder="Descrição"></textarea>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Preço</label>
    <input type="number" name="produto[preco]" class="form-control"  id="formGroupExampleInput2" placeholder="R$00,00">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Quantidade</label>
    <input type="number" name="produto[quantidade]" class="form-control"  id="formGroupExampleInput2" placeholder="0">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Marca</label>
    <input type="text" name="produto[marca]" class="form-control"  id="formGroupExampleInput" placeholder="Nome">
  </div>
  <div class="mb-3">
    <%= form.label :imagem, class:"form-label" %>
    <%= form.file_field :imagem, class:"form-control" %>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Criar</button>
</div>
<% end %>
</body>

</html>