<div class="campoProdutos">

  <div class="container">
  <br> <h2 ><%=@produto.nome %></h2>

    <p><%= @produto.descricao %></p>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @produto.imagem, class: "card-img-top" %>
    </div>
    <div class=" flex-column col-md-6">

      <div style="text-align: center">
      <h2>CONTEUDO DA CAIXA</h2>
      <p>
        Mouse para jogos G502 X<br>
        Capa do botão de DPI Shift<br>
        Documentação do usuário<br>
        Adesivo
      </p>
      <p>R$<%= @produto.preco%></p>

        <button class="buy">comprar agora!</button>
      </div>
    </div>
  </div>
  </div>
  <br>
</div>
